{{#if addNewQuestion}}
  <h2>New Question</h2>
    <div>
      <form>
        <div class="form-group">
          <label for="inquiry">inquiry</label>
          {{input value=inquiry id="inquiry"}}
        </div>
        <div class="form-group">
          <label for="author">author</label>
          {{input value=author id="author"}}
        </div>
        <div class="form-group">
          <label for="notes">notes</label>
          {{input value=notes id="notes"}}
        </div>
        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <h2><button {{action 'questionFormShow'}}>New Question</button></h2>
{{/if}}
