{{#if addNewQuestion}}
  <h1>New Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="inquiry">inquiry</label>
          {{input value=inquiry id="inquiry"}}
        </div>
        <div class="form-group">
          <label for="author">author</label>
          {{input value=author id="author"}}
        </div>
        <div class="form-group">
          <label for="notes">notes</label>
          {{input value=notes id="notes"}}
        </div>
        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}


<!-- <form>
      <div class="form-group">
        <label for="question1">Question</label>
        {{input value=question1 id="question1"}}
      </div>
      <button {{action 'saveQ'}}>Save</button>
    </form> -->
