<h2>{{model.inquiry}}</h2>
<h4>{{model.notes}}</h4>


{{update-question question=model save2="save"}}

{{add-answer question=model save2="save"}}

{{#each model.answers as |answer|}}
    <p>{{answer.theAnswer}}</p>
{{/each}}
